<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531897566902-ved1tevuc5q48a1n8tcs6gbj4teumhff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531897566902-ved1tevuc5q48a1n8tcs6gbj4teumhff</string>
	<key>API_KEY</key>
	<string>AIzaSyAj8yqKZfjci7sKz04SbUlhtMzLQxKGZEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>531897566902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynewdemoapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-demo-firebase-22184</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-demo-firebase-22184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531897566902:ios:3f0bc16668fb766b710817</string>
</dict>
</plist>